<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="auth-page">
    <div class="container m-5">
      <%= yield %>
    </div>
  </body>
</html>
